


/*mobile view*/
@media only screen and (max-width: 899px)
{
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-image: url(../images/japan-background22.jpg);*/
  background-color: #fff;
   
}


@font-face {
font-family: Helvetica;
  src: url(fonts/Helvetica.woff);
}
@font-face {
  font-family: HelveticaOb;
  src: url(fonts/Helvetica-Bold.woff);
}
@font-face {
  font-family: arima;
  src: url(fonts/ArimaMadurai-Bold.ttf);
}
@font-face {
  font-family: Helvetica-M;
  src: url(fonts/Helvetica-Neue-LT-65-Medium.ttf);
}
@font-face {
  font-family: Helvetica-N;
  src: url(fonts/Helvetica-Neue-LT-45-Light.ttf);
}
@font-face {
  font-family: Helvetica-L;
  src: url(fonts/Helvetica-Neue-LT-45-Light.ttf);
}
@font-face {
  font-family: Helvetica-UL;
  src: url(fonts/Helvetica-Neue-LT-25-Ultra-Light.ttf);
}
@font-face {
  font-family:poppins-M;
  src: url(fonts/Poppins-Medium.ttf);
}
header{
	height: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	background-color: #191919;
	margin-bottom: 10px;
}


html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
font-family: Helvetica;
color:#212121;
}
h1{ 
	padding-bottom: 0px;
	padding-left: 0em;
	margin:0em;
	margin-left: 0em;
	display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 170%;
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
    border-radius: 6px;
    text-align: center;
    font-family: Helvetica-M;
	font-weight: 100;

    }
 h1>a{
  	text-decoration: none;
  	color: #fff;
  }

#icon1{
	margin-top: 0.5em;
	margin-left: 15px;
	display: inline-block;
	width: 25px;
	position: relative;
	top:0.35em;
	
}
#icon-h1{
	margin: auto;
	float:left;
	width:300px;
	padding-bottom: 5px;
	position: relative;
	bottom: 6px;
}

/* HAM ICON STARTS */
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 0px 0px;
  margin-right: 15px;
  float: right;
  clear:both;
  position: relative;
  bottom: 25px;
  user-select: none;

}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ #head-nav{
  display: block
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* HAM ICON END */




/* DROPDOWN MENU STARTS*/
#head-nav{
	margin-right: 15px;
	display: none;
	margin-top: 0px;
	clear:both;
	float:right;
	height: 67px;
	width:  100%;
	position: absolute;
	top: 29px;
}


.heada{
	margin-top: 0px;
	color: rgba(45, 44, 44,0.85);
	font-weight: bold;
	letter-spacing: 0.5px;
	text-decoration: none;
	font-size: 90%;
	font-family: Helvetica;
}
.main-ul{
	clear:both;
	list-style-type: none;
	float: right;
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-color: rgba(45, 44, 44,0.5);
	border-radius: 0px 0px 5px 5px;
	width: 110px;
	list-style: none;
    padding-right: 0px;
    padding: 0px;
    margin-top:10px;
    display: inline-block;
    margin-right: 5px;
    background-color: #fff;
    padding-bottom: 5px;
    position: relative;
    z-index: 2;
    background-color: #191919;


    
}
.main-ul>li {
font-family: Helvetica-N;
width: 100%;
}
.main-ul>li>a{
	color: #fff;
	font-family: Helvetica-N;
	letter-spacing: 1px;
}
.main-ul>li:last-child{
	padding-top: 5px;
	margin-top: 5px;
	margin-right: 2px;

}
.main-ul>li:last-child>a{
	margin-right: 2px;
	color: #fff
}

#fa-l1, #fa-l2{
color: #fff;
font-size:16px;
}

#fa-d1, #fa-d2{
display: none;
}

#a1:hover , #a2:hover {
	color: rgba(45, 44, 44,1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
   	padding-bottom: 1px;
   	border-color: rgba(45, 44, 44,0.4);

}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}


.destinations-ul{
	list-style-type: none;
	list-style: none;
    padding-left: 0px;
	position: absolute;
	right: 110px;
	display: none;
	background-color:  transparent;
	border-width: 1px;
	box-shadow: 0px 10px 10px #0a1516c9;
	width: 130px;
	margin-top: 0px;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(250,250,250,0.85);
	top:2px;
	z-index: 1;

	

}
.destinations-ul li{
	width:100%
}
.destinations-ul li a{
	line-height: 30px;
	position: relative;
	text-align: center;
	display: inline-block;
	width:100%;
	color: rgba(45, 44, 44,1);
	text-decoration: none;	
	font-family: Helvetica;
}

.main-ul> .dest-container>.destinations-ul>li>a:hover , .main-ul> .exp-container>.experiences-ul>li>a:hover
{
    border-style: solid;
    background-color: rgba(45, 44, 44,0.85);
    border-width: 0px 0px 0px 0px;
	border-color: rgba(0,0,0,0.8);
	color: #ffffff;
}
.main-ul> .dest-container>.destinations-ul>li:first-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:first-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 10px 10px 0px 0px;
}

.main-ul> .dest-container>.destinations-ul>li:last-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:last-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 0px 0px 10px 10px;
}
.experiences-ul{
	list-style-type: none;
	list-style: none;
    padding-left: 0px;
	position: absolute;
	right: 110px;
	display: none;
	background-color:  transparent;
	border-width: 1px;
	box-shadow: 0px 10px 10px #0a1516c9;
	background-color: rgba(250,250,250,0.85);
	width: 130px;
	margin-top: 0px;
	text-align: center;
	border-radius: 10px;
	z-index: 1;
	
}
.experiences-ul li a {
	line-height: 30px;
	position: relative;
	text-align: center;
	display: inline-block;
	width:100%;
	color: rgba(45, 44, 44,1);
	text-decoration: none;
	font-family: Helvetica;
}
.experiences-ul li:first-child a{
	padding-top: 3px;
}
.experiences-ul li:last-child a{
 padding-bottom: 3px;
}
.dest-container:hover ul, .exp-container:hover ul{
    display: inline-block;
}
/* DROPDOWN MENU ENDS*/
#header-h1-img{
	display: block;
	width: 100%;
	margin: 0px;
	text-align: center;
	padding: auto;
	position: relative;
	z-index: -1;
	margin-top: 0px;
}
#header-h1-img >picture>img{
	width:100%;
	margin-top:-10px;
}
#header-h1-img h1{
font-family: Helvetica-M;
color: #fff;
font-size: 3.6em;
font-weight: bold;
letter-spacing: 5px;
position: absolute;
top: 75%;
left: 50%;
 transform: translate( -50%, -50% );
z-index: 1;
width: 100%;
}

.welcome{
	/*background-image: url(../images/japan-background222.jpg);*/
	background-size: cover;
	margin-top: -5px;
	 padding-top: 40px;
	 padding-bottom: 45px;
	 background-color: #0268d2;
}
#main-p{
	margin-top: 0px;
	margin-bottom: 15px;
	color: #fff;

}

#main-p> p 
{
	font-family:poppins-M;
margin:0px 30px 0px 30px;
text-align: center;
font-size: 1.13em;
line-height: 30px;
font-weight: bold;
letter-spacing: 1px;
}
.icons{
	display: block;
	margin: auto auto;
	width: 80%;
	text-align: center;
	padding: 25px 0px 15px 0px;
}
.icon-1,.icon-2{
display: inline-block;
width: 30%;
}
.fas{
	display: inline-block;
	color: #fff2f2;
	width: 57px;
}
.icn>p{
	color:#fff2f2;
	font-size: 85%;
	font-weight: bold;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: arima;

}


h3{
	text-align: center;
	font-weight: bolder;
	font-family:poppins-M;
	font-size: 150%;
	color: #212121;
	letter-spacing: 1px;
	margin-top:35px;
}

/* first section starts*/
#first-sec{
	display: block;
  border-bottom: 1px solid rgba(45, 44, 44,0.00);
  padding-bottom: 65px;
  margin-top: 0px;
  width: 100%;
  margin:auto auto;
}
#first-sec>h3{
	margin-bottom: 20px;
}
#first-sec>.first-sec-p{
margin:0px 40px 30px 40px;
text-align: center;
line-height: 1.35em;
font-size: 1.1em;
}
.grid{
	display: none;
}
.carousel{
	padding: 0px 0px 10px 0px;
	border-radius: 10px;
	padding-left: 5.88%;
 	padding-right: 5.88%;
 	margin-top: 30px;
}


.c-div{
	width:100%;
	text-align: center;
	position: relative;
	display: block;



}
.c-div> .c-img{
 width:85%;
 border-radius: 5px;
 margin: 0px auto;
 display: block;

}


.c-a{
	font-family:poppins-M;
	position: absolute;
    color: #fff;
	font-size: 200%;
	letter-spacing: 4px;
	text-decoration: none;
	width: 100%;
	line-height: 20px;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50% );
	font-weight: bold;
	z-index: 2;

}
.tint{
	display: block;
	position: absolute;
	height: 100%;
	width: 85%;
	z-index: 1;
	top: 0px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4),
   rgba(0, 0, 0, 0.4)) ;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50% );

}

.flickity-page-dots{
right: 0px;
}
.flickity-page-dots .dot{
	 width: 1px;
	 height: 1px;
}

/* first section ends*/


/* second section starts*/
#second-sec{
	margin-top: 5px;
	background-color: #ececec;
	padding-top: 30px;
	padding-bottom: 30px;
}
#second-sec>h3{
	margin-top: 0px;
}
.second-sec-p{
	margin:0px 40px 0px 40px;
	text-align: center;
	line-height: 1.35em;
	margin-bottom: 30px;
	font-size: 1.1em;

}
.cards-cont-wide{
	display: none;
}
.card{
display: block;
width: 80%;
margin: auto auto;	
background-color: #fff;
margin-top: 50px;
padding-bottom: 30px;
}
.card>img{
	width: 100%;
}
.card> .container{
	margin: 0px 20px 0px 20px;
}
.container>h4{
	font-size: 140%;
	font-family: Helvetica-UL;
	color: #000;
	letter-spacing: 3px;
	font-weight: 700;


}
.container>p{
	display:none;
	margin-top:-5px;
	margin-bottom: 50px;
	line-height: 1.4em;
	color: #212121;
	font-size: 105%;

}
.details-a{
background-color: rgb(108 193 13);
color:#Fff;
padding: 7px 10px 7px 10px;
font-family: poppins-M;
text-transform: uppercase;
text-decoration: none;
font-size: 80%;
font-weight: 700;
letter-spacing: 1px;
transition: all 0.1s;
}
.book-a{
 float: right;
background-color: #fff;
color:#fb5b21;
padding: 7px 10px 7px 10px;
font-family: poppins-M; 
text-transform: uppercase;
text-decoration: none;
position: relative;
bottom: 7px;
font-size: 80%;
font-weight: 700;
letter-spacing: 1px;
transition: all 0.1s;
border:1px solid #fb5b21;
}
.book-a:hover{
background-color: #fb5b21;
color:#Fff;
}
.details-a:hover {
background-color: #fff;
color:rgb(108 193 13);
border:1px solid rgb(108 193 13);}

.divider {
	display: block;
	position: relative;
	top: 72px;
	margin: 0px auto;
	height: 1px;
	width: 100%;
	background:red;
	background: linear-gradient(90deg, #ededed,#222222, #ededed);
}
/* second section ends*/

/*third sectin stars*/
.third-sec{
	background-color: #fff;
	display: block;
	padding:20px;
	padding: 0px 40px 0px 40px;
	text-align: center;
	padding-bottom: 40px;
}
.icon-cards{
	display: block;
	text-align: center;
}
.icn-card{
	display: block;
	width: 90%;
	text-align: center;
	margin: 0px auto;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	box-shadow: 0 0 7px 0 rgb(0 0 0 / 30%);
	 border-radius: 0px 0px 10px 10px;
	 max-width: 420px;

}
#icn-div1{
	margin-top: 30px;
}

.icn-card>i{
	color:#B51642;
	width: 90%;
	margin-bottom: 10px;

}
.icn-card>a{
text-decoration: none;
color: #212121;
font-family: poppins-M; 
font-size: 110%;

}
.icn-card>a>h4{
margin:5px;
}
.icn-card>p{
	width: 80%;
	display: block;
	margin:0px auto;
	margin-top: 10px;
}

.icn-card::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 2px;
    width: 0%;
    opacity: 0;
    transition: all 0.3s ease 0s;
    z-index: 5;
    background-color: #050F36;
}
.icn-card:hover{
 box-shadow: 0 0 13px 0 rgb(0 0 0 / 50%);
 border-radius: 0px 0px 10px 10px;
}
.icn-card:hover::before{
	width: 100%;
    opacity: 1;
}
#divider2{
display: block;
position: relative;
top: 30px;
width: 100%;
}
#divider3{
	top: 40px;
}
/*third section ends*/



/*fourth section starts*/
#fourth-sec{
	background-color: #ececec;
	padding-top: 20px;
	padding-bottom: 30px;
}
sep-line{
	display: inline;
	border-top:1px solid red;
	width: 100px;
	height: 2px;
}
.sep-div{
display: block;
text-align: center;
}
.sep-div>h4{
	font-family: poppins-M;
	font-size: 110%;
}

.fa-quote-right{
	display: block;
	margin: 0px auto;
	color: #B51642;
	margin-top: 10px;

}
.cmnt-class{
	display: block;
	padding: 20px 0px 20px 0px;
	text-align: center;
}
.cmnt-div{
	text-align: center;
}
.cmnt-p{
	font-style: italic;
	width: 70%;
	margin: 0px auto;
	line-height: 30px;
	color: #505050;

}
.cmnt-s1 , .cmnt-s2{
	display: block;
	width:50%;
	margin: 5px auto;
}
.cmnt-s1{
	margin-top: 20px;
	font-size: 70%;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	color: #050F36;
	font-family: poppins-M;
}
.cmnt-s2{
	font-size: 65%;
	font-weight: bolder;
	font-family: poppins-M;
}



/*fourth section ends*/



footer{
    text-align:center;
    margin-top:0px;
padding-bottom: 20px;
padding-top: 20px;
background-color: #191919;

}

.foota{
	font-weight:bold;
	padding-left: 15px;
	text-decoration: none;
	font-size: 80%;
	color: #fff;
	margin-left: 13px;
	letter-spacing: 1.5px;
	transition: all 0.2s;
	text-transform: uppercase;
}
.foota:hover{
	position: relative;
	
    border-style: solid;
    border-width: 0px 0px 2px 0px;
   	padding-bottom: 1px;
   	border-color: #fff;
}
#a3{
	margin-right:20px;
	padding-left: 0px;
}
#a4{
	margin-left:20px;
	padding-left: 0px;
}


}
















/*large screen view */
@media only screen and (min-width: 900px) and (max-width: 1150px)
{

html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-image: url(../images/japan-background22.jpg);*/
  background-color: #fff;
   
}


@font-face {
font-family: Helvetica;
  src: url(fonts/Helvetica.woff);
}
@font-face {
  font-family: HelveticaOb;
  src: url(fonts/Helvetica-Bold.woff);
}
@font-face {
  font-family: arima;
  src: url(fonts/ArimaMadurai-Bold.ttf);
}
@font-face {
  font-family: Helvetica-M;
  src: url(fonts/Helvetica-Neue-LT-65-Medium.ttf);
}
@font-face {
  font-family: Helvetica-L;
  src: url(fonts/Helvetica-Neue-LT-45-Light.ttf);
}
@font-face {
  font-family: Helvetica-UL;
  src: url(fonts/Helvetica-Neue-LT-25-Ultra-Light.ttf);
}
@font-face {
  font-family:poppins-M;
  src: url(fonts/Poppins-Medium.ttf);
}
header{

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:0px 12px 0px 20px;
	padding-bottom: 20px;
	height: 36px;
	background-color: #191919;
}

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
font-family: Helvetica;

color:#212121;
}

#icon-h1{
	float: left;
	width:45%;
	margin-top: -9px;
	padding-top: 0px;
	padding-left: 10px;
	height: 55px;
}
h1{ 
	margin:0px;
	margin-bottom: 15px;
	display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 230%;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.5px;
    border-radius: 6px;
    font-family: Helvetica-M;
	font-weight: 100;
	font-size: 225%;

    }
 h1>a{
  	text-decoration: none;
  	color: #fff;
  	line-height: 20px;
  }
#icon1{
	margin-top: 10px;
	display: inline-block;
	clear: left;
	width: 36px;
	position: relative;
	top:9px;
}
  .header .menu-icon, .header .menu-btn  {
    display: none;
  }
#head-nav{
	padding-top: 0px;
	line-height: 2em;
	text-align: right;
	width: 45%;
	float: right;
	margin: 0px;
	margin-top: -14px;
	margin-left: 10px;
	height: 60px;
	padding-left: 0px;

}
#fa-d1, #fa-d2, #fa-l1, #fa-l2{
display: none;
}
.main-ul{
	margin-left: 10px;
	margin-right: 10px;
	height: 32px;
	margin-top: 14px;
	padding-left: 0px;
	padding-top: 10px;
}
.main-ul li{
	position: relative;
	display: inline;
}
.dest-container{
	position: relative;
	padding: 8px 0px 10px 4px; 
	margin-right: 50px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.dest-container>a{
	color: #fff;
	font-weight: 500;
}
.exp-container{
	position: relative;
	padding: 8px 5px 10px 5px;
	margin-right: 5px;
}
.exp-container a{
	position: relative;
	right:0px;
	color: #fff;
	font-weight: 500;

}
.destinations-ul{
	position: absolute;
	display: none;
	background-color:  rgba(250,250,250,8);
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	right: 3px;
	top: 35px;
	width: 72.5%;
	text-align: center;
	border-radius: 10px;
	padding-bottom: 0px;
	padding-left: 30px;

}
.experiences-ul{
	position: absolute;
	display: none;
	background-color:  rgba(250,250,250,8);
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	right: -8px;
	top: 35px;
	width: 96%;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding-bottom: 0px;
	padding-left: 25px;
}
.experiences-ul li a {
	position: relative;
	width:147px;
	right: 25px;
	display: inline-block;
	color: rgba(45, 44, 44,0.95);
	text-decoration: none;

}
.destinations-ul li a{
	position: relative;
	width:121px;
	right: 30px;
	display: inline-block;
	color: rgba(45, 44, 44,0.95);
	text-decoration: none;	
}
.dest-container:hover ul, .exp-container:hover ul{
    display: block;
}
.dest-container:hover #a1, .exp-container:hover #a2{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
   	padding-bottom: 1px;
   	border-color: rgba(45, 44, 44,0.4);
}
.main-ul> .dest-container>.destinations-ul>li>a:hover , .main-ul> .exp-container>.experiences-ul>li>a:hover
{
    border-style: solid;
    background-color: rgba(45, 44, 44,0.85);
    border-width: 0px 0px 0px 0px;
	border-color: rgba(0,0,0,0.8);
	color: #ffffff;
}

.main-ul> .dest-container>.destinations-ul>li:first-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:first-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 9px 9px 0px 0px;
}

.main-ul> .dest-container>.destinations-ul>li:last-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:last-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 0px 0px 9px 9px;
}
.heada{
	margin-top: 10px;
	color: #2d2c2c;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 120%;
}
#header-h1-img{
	display: block;
	width: 100%;
	margin: 0px;
	text-align: center;
	padding: auto;
	position: relative;
	z-index: -1;
	margin-top: 0px;
}
#header-h1-img >picture>img{
	width:100%;
	margin-top:-10px;
}
#header-h1-img h1{
font-family: Helvetica-M;
color: #fff;
font-size: 4.9em;
font-weight: bold;
letter-spacing: 5px;
position: absolute;
top: 75%;
left: 50%;
 transform: translate( -50%, -50% );
z-index: 1;
width: 100%;
}

.welcome{
	/*background-image: url(../images/japan-background222.jpg);*/
	background-size: cover;
	margin-top: -5px;
	 padding-top: 40px;
	 padding-bottom: 45px;
	 background-color: #0268d2;
}
#main-p{
	margin-top: 0px;
	margin-bottom: 15px;
	color: #fff;


}

#main-p> p 
{
	font-family:poppins-M;
margin:0px 30px 0px 30px;
text-align: center;
font-size: 1.27em;
line-height: 40px;
font-weight: bold;
letter-spacing: 1px;
width: 50%;
margin:0px auto;
}
.icons{
	display: block;
	margin: auto auto;
	width: 50%;
	text-align: center;
	padding: 35px 0px 0px 0px;
}
.icon-1,.icon-2{
display: inline-block;
width: 30%;
}
.fas{
	display: inline-block;
	color: #fff2f2;
	width: 57px;
}
.icn>p{
	color:#fff2f2;
	font-size: 91%;
	font-weight: bold;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: arima;

}


h3{
	text-align: center;
	font-weight: bolder;
	font-family:poppins-M;
	font-size: 200%;
	color: #212121;
	letter-spacing: 1px;
	margin-top:35px;
}

/* first section starts*/
#first-sec{
	display: block;
  border-bottom: 1px solid rgba(45, 44, 44,0.00);
  padding-bottom: 65px;
  margin-top: 0px;
  width: 100%;
  margin:auto auto;
}
#first-sec>h3{
	margin-bottom: 20px;
	text-align: left;
	margin-left: 75px;
}
#first-sec>.first-sec-p{
margin:0px 40px 30px 75px;
text-align: left;
line-height: 1.35em;
font-size: 1.1em;
}
.carousel{
 	display: none;
}
.c-div{
	width:100%;
	text-align: center;
	position: relative;
	display: block;




}
.c-div> .c-img{
 width:100%;
 margin: 0px auto;
 display: block;

}
.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr ); 
	grid-column-gap: 0.25em;
	grid-row-gap: 0.25em;
	justify-content: center;
	padding-left: 75px;
	padding-right: 75px;
	padding-left: 75px;
}
.grid>.div7{
	grid-column: 1/2;
}


.c-a{
	font-family:poppins-M;
	position: absolute;
    color: #fff;
	font-size: 150%;
	letter-spacing: 4px;
	text-decoration: none;
	width: 100%;
	line-height: 20px;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50% );
	font-weight: bold;
	z-index: 2;

}
.tint{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4),
   rgba(0, 0, 0, 0.4)) ;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50% );

}

.grid> .div1>.tint , .grid> .div7>.tint{
	background-image: linear-gradient( rgba(0, 0, 0, 0.2),
   rgba(0, 0, 0, 0.2)) ;
}
.c-div:hover .tint{
	display: none;
}

.flickity-page-dots{
right: 0px;
}
.flickity-page-dots .dot{
	 width: 1px;
	 height: 1px;
}

/* first section ends*/


/* second section starts*/
#second-sec{
	margin-top: 5px;
	background-color: #ececec;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
#second-sec>h3{
	margin-top: 0px;
	text-align: left;
	margin-left: 75px;
}
.second-sec-p{
	margin:0px 40px 0px 75px;
	text-align: left;
	line-height: 1.35em;
	margin-bottom: 30px;
	font-size: 1.1em;

}
.cards-cont-wide{
	display: none;
}
.card{
display: inline-block;
width: 40%;
clear: both;
background-color: #fff;
margin-top: 15px;
padding-bottom: 20px;
}

.card>img{
	width: 100%;
}
.card> .container{
	margin: 0px 20px 0px 20px;
	height: 90px;

}
.container>h4{
	font-size: 140%;
	font-family: Helvetica-UL;
	color: #000;
	letter-spacing: 3px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 50px;

}
.container>p{
	display:none;
	margin-top:-5px;
	margin-bottom: 50px;
	line-height: 1.4em;
	color: #212121;
	font-size: 105%;

}
.details-a{
background-color: rgb(108 193 13);
color:#Fff;
padding: 7px 10px 7px 10px;
font-family: poppins-M;
text-transform: uppercase;
text-decoration: none;
font-size: 80%;
font-weight: 700;
letter-spacing: 1px;
transition: all 0.1s;
float: left;
}
.book-a{
 float: right;
background-color: #fff;
color:#fb5b21;
padding: 7px 10px 7px 10px;
font-family: poppins-M; 
text-transform: uppercase;
text-decoration: none;
position: relative;
bottom: 0px;
font-size: 80%;
font-weight: 700;
letter-spacing: 1px;
transition: all 0.1s;
border:1px solid #fb5b21;
}
.book-a:hover{
background-color: #fb5b21;
color:#Fff;
}
.details-a:hover {
background-color: #fff;
color:rgb(108 193 13);
border:1px solid rgb(108 193 13);
}

.crd-left{
	margin-right: 5px;
}
.crd-right{
	margin-left: 5px;
}

.divider {
	display: block;
	position: relative;
	top: 72px;
	margin: 0px auto;
	height: 1px;
	width: 100%;
	background:red;
	background: linear-gradient(90deg, #ededed,#222222, #ededed);
}
/* second section ends*/

/*third sectin stars*/
.third-sec{
	background-color: #fff;
	display: block;
	padding:20px;
	padding: 0px 40px 0px 75px;
	text-align: left;
	padding-bottom: 40px;
}
.third-sec>h3{
 text-align: center;
}
.icon-cards{
	display: block;
	text-align: center;
}
.icn-card{
	display: inline-block;
	width: 45%;
	text-align: center;
	margin: 0px auto;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 50px;
	position: relative;
	 border-radius: 0px 0px 10px 10px;
	 max-height: 250px;
	 box-sizing: border-box;


}
#icn-div1{
	margin-top: 30px;

}

.icn-card>i{
	color:#B51642;
	width: 90%;
	margin-bottom: 10px;

}
.icn-card>a{
text-decoration: none;
color: #212121;
font-family: poppins-M; 
font-size: 130%;

}
.icn-card>a>h4{
margin:5px;
}
.icn-card>p{
	width: 80%;
	display: block;
	margin:0px auto;
	margin-top: 10px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icn-card::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 2px;
    width: 0%;
    opacity: 0;
    transition: all 0.3s ease 0s;
    z-index: 5;
    background-color: #050F36;
}
.icn-card:hover{
 box-shadow: 0 0 13px 0 rgb(0 0 0 / 50%);
 border-radius: 0px 0px 10px 10px;
}
.icn-card:hover::before{
	width: 100%;
    opacity: 1;
}

#divider2{
display: block;
position: relative;
top: 30px;
width: 100%;
}
#divider3{
	top: 40px;
}
/*third section ends*/



/*fourth section starts*/
#fourth-sec{
	background-color: #ececec;
	padding-top: 20px;
	padding-bottom: 30px;
}
sep-line{
	display: inline;
	border-top:1px solid red;
	width: 100px;
	height: 2px;
}
.sep-div{
display: block;
text-align: center;
}
.sep-div>h4{
	font-family: poppins-M;
	font-size: 140%;
}

.fa-quote-right{
	display: block;
	margin: 0px auto;
	color: #B51642;
	margin-top: 10px;

}
.cmnt-class{
	display: block;
	padding: 20px 0px 20px 0px;
	text-align: center;
}
.cmnt-div{
	text-align: center;
}
.cmnt-p{
	font-style: italic;
	width: 60%;
	margin: 0px auto;
	line-height: 30px;
	color: #505050;
	font-size: 105%;

}
.cmnt-s1 , .cmnt-s2{
	display: block;
	width:50%;
	margin: 5px auto;
}
.cmnt-s1{
	margin-top: 20px;
	font-size: 70%;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	color: #050F36;
	font-family: poppins-M;
}
.cmnt-s2{
	font-size: 65%;
	font-weight: bolder;
	font-family: poppins-M;
}



/*fourth section ends*/



footer{
    text-align:center;
    margin-top:0px;
padding-bottom: 20px;
padding-top: 20px;
background-color: #191919;

}

.foota{
	font-weight:bold;
	padding-left: 15px;
	text-decoration: none;
	font-size: 80%;
	color: #fff;
	margin-left: 13px;
	letter-spacing: 1.5px;
	transition: all 0.2s;
	text-transform: uppercase;
}
.foota:hover{
	position: relative;
	
    border-style: solid;
    border-width: 0px 0px 2px 0px;
   	padding-bottom: 1px;
   	border-color: #fff;
}
#a3{
	margin-right:20px;
	padding-left: 0px;
}
#a4{
	margin-left:20px;
	padding-left: 0px;
}


}


















/*large screen view */
@media only screen and (min-width: 1151px) 
{
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-image: url(../images/japan-background22.jpg);*/
  background-color: #fff;
   
}

@font-face {
font-family: Helvetica;
  src: url(fonts/Helvetica.woff);
}
@font-face {
  font-family: HelveticaOb;
  src: url(fonts/Helvetica-Bold.woff);
}
@font-face {
  font-family: arima;
  src: url(fonts/ArimaMadurai-Bold.ttf);
}
@font-face {
  font-family: Helvetica-M;
  src: url(fonts/Helvetica-Neue-LT-65-Medium.ttf);
}
@font-face {
  font-family: Helvetica-L;
  src: url(fonts/Helvetica-Neue-LT-45-Light.ttf);
}
@font-face {
  font-family: Helvetica-UL;
  src: url(fonts/Helvetica-Neue-LT-25-Ultra-Light.ttf);
}
@font-face {
  font-family:poppins-M;
  src: url(fonts/Poppins-Medium.ttf);
}
html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
font-family: Helvetica;
margin-top:0px;
color:#212121;
}
header{

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:0px 12px 0px 20px;
	padding-bottom: 20px;
	height: 45px;
	/*background-image: url(../images/japan-background22.jpg);*/
	background-color: #191919;
}
#icon-h1{
	float: left;
	width:45%;
	margin-top: -8px;
	padding-top: 0px;
	padding-left: 10px;
}
h1{ 
	font-family: Helvetica-M;
	margin:0px;
	margin-bottom: 15px;
	display: inline-block;
    color: #fff;
    font-weight: 100;
    font-size: 235%;
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
    border-radius: 6px;
    margin-left: 5px;
    }
 h1>a{
  	text-decoration: none;
  	color: #fff;
  }
#icon1{
	margin-top: 10px;
	display: inline-block;
	clear: left;
	width: 40px;
	position: relative;
	top:11px;
}
  .header .menu-icon, .header .menu-btn  {
    display: none;
  }
#head-nav{
	padding-top: 0px;
	line-height: 2em;
	text-align: right;
	width: 45%;
	float: right;
	margin: 0px;
	margin-top: -8px;
	margin-left: 10px;
	height: 76px;
	padding-left: 0px;

}
#fa-d1, #fa-d2, #fa-l1, #fa-l2{
display: none;
}
.main-ul{
	margin-left: 10px;
	margin-right: 10px;
	height: 32px;
	margin-top: 14px;
	padding-left: 0px;
	padding-top: 10px;
}
.main-ul li{
	position: relative;
	display: inline;
}
.dest-container{
	position: relative;
	padding: 8px 0px 10px 4px; 
	margin-right: 50px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.dest-container>a{
	color: #fff;
	font-weight: 500;
}
.exp-container{
	position: relative;
	padding: 8px 5px 10px 5px;
	margin-right: 5px;
}
.exp-container a{
	position: relative;
	right:0px;
	color: #fff;
	font-weight: 500;

}
.destinations-ul{
	position: absolute;
	display: none;
	background-color:  rgba(250,250,250,8);
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	right: 3px;
	top: 35px;
	width: 72.5%;
	text-align: center;
	border-radius: 10px;
	padding-bottom: 0px;
	padding-left: 30px;

}
.experiences-ul{
	position: absolute;
	display: none;
	background-color:  rgba(250,250,250,8);
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	right: -8px;
	top: 35px;
	width: 96%;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding-bottom: 0px;
	padding-left: 25px;
}
.experiences-ul li a {
	position: relative;
	width:147px;
	right: 25px;
	display: inline-block;
	color: rgba(45, 44, 44,0.95);
	text-decoration: none;

}
.destinations-ul li a{
	position: relative;
	width:121px;
	right: 30px;
	display: inline-block;
	color: rgba(45, 44, 44,0.95);
	text-decoration: none;	
}
.dest-container:hover ul, .exp-container:hover ul{
    display: block;
}
.dest-container:hover #a1, .exp-container:hover #a2{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
   	padding-bottom: 1px;
   	border-color: rgba(45, 44, 44,0.4);
}
.main-ul> .dest-container>.destinations-ul>li>a:hover , .main-ul> .exp-container>.experiences-ul>li>a:hover
{
    border-style: solid;
    background-color: rgba(45, 44, 44,0.85);
    border-width: 0px 0px 0px 0px;
	border-color: rgba(0,0,0,0.8);
	color: #ffffff;
}

.main-ul> .dest-container>.destinations-ul>li:first-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:first-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 9px 9px 0px 0px;
}

.main-ul> .dest-container>.destinations-ul>li:last-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:last-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 0px 0px 9px 9px;
}
.heada{
	margin-top: 10px;
	color: #2d2c2c;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 120%;
}
#header-h1-img{
	display: block;
	width: 100%;
	margin: 0px;
	text-align: center;
	padding: auto;
	position: relative;
	z-index: -1;
	margin-top: 0px;
}
#header-h1-img >picture>img{
	width:100%;
	margin-top:-10px;
}
#header-h1-img h1{
font-family: Helvetica-M;
color: #fff;
font-size: 6.4em;
font-weight: bold;
letter-spacing: 5px;
position: absolute;
top: 75%;
left: 50%;
 transform: translate( -50%, -50% );
z-index: 1;
width: 100%;
}

.welcome{
	/*background-image: url(../images/japan-background222.jpg);*/
	background-size: cover;
	margin-top: -5px;
	 padding-top: 40px;
	 padding-bottom: 45px;
	 background-color: #0268d2;
}
#main-p{
	margin-top: 0px;
	margin-bottom: 15px;
	color: #fff;


}

#main-p> p 
{
	font-family:poppins-M;
margin:0px 30px 0px 30px;
text-align: center;
font-size: 1.46em;
line-height: 40px;
font-weight: bold;
letter-spacing: 1px;
width: 40%;
margin:0px auto;
}
.icons{
	display: block;
	margin: auto auto;
	width: 40%;
	text-align: center;
	padding: 35px 0px 0px 0px;
}
.icon-1,.icon-2{
display: inline-block;
width: 30%;
}
.fas{
	display: inline-block;
	color: #fff2f2;
	width: 57px;
}
.icn>p{
	color:#fff2f2;
	font-size: 91%;
	font-weight: bold;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: arima;

}


h3{
	text-align: center;
	font-weight: bolder;
	font-family:poppins-M;
	font-size: 215%;
	color: #212121;
	letter-spacing: 1px;
	margin-top:35px;
}

/* first section starts*/
#first-sec{
	display: block;
  border-bottom: 1px solid rgba(45, 44, 44,0.00);
  padding-bottom: 65px;
  margin-top: 0px;
  width: 100%;
  margin:auto auto;
}
#first-sec>h3{
	margin-bottom: 20px;
	text-align: left;
	margin-left: 75px;
}
#first-sec>.first-sec-p{
margin:0px 40px 30px 75px;
text-align: left;
line-height: 1.35em;
font-size: 1.2em;
}
.carousel{
 	display: none;
}
.c-div{
	width:100%;
	text-align: center;
	position: relative;
	display: block;
}
.c-div> .c-img{
 width:100%;
 margin: 0px auto;
 display: block;

}
.grid{
	display: grid;
	grid-template-columns: repeat(5, 1fr ); 
	grid-column-gap: 0.25em;
	grid-row-gap: 0.25em;
	justify-content: center;
	padding-left: 75px;
	padding-right: 75px;
	padding-left: 75px;
	width: 90%;
}
.grid> .div5>img{
display: none;
}
.grid> .div5{
	grid-column: 5/6;
	grid-row: 1/3;
	background-image: url(../images/boat/italy.jpg);
	background-size: cover;
}

.c-a{
	font-family:poppins-M;
	position: absolute;
    color: #fff;
	font-size: 150%;
	letter-spacing: 4px;
	text-decoration: none;
	width: 100%;
	line-height: 20px;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50% );
	font-weight: bold;
	z-index: 2;

}
.tint{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4),
   rgba(0, 0, 0, 0.4)) ;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50% );


}
.grid> .div1>.tint , .grid> .div7>.tint{
	background-image: linear-gradient( rgba(0, 0, 0, 0.2),
   rgba(0, 0, 0, 0.2)) ;
}
.c-div:hover .tint{
	display: none;
}

/* first section ends*/


/* second section starts*/
#second-sec{
	margin-top: 5px;
	background-color: #ececec;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
#second-sec>h3{
	margin-top: 0px;
	text-align: left;
	margin-left: 75px;
}
.second-sec-p{
	margin:0px 40px 0px 75px;
	text-align: left;
	line-height: 1.35em;
	margin-bottom: 30px;
	font-size: 1.1em;

}
.cards-cont{
	display: none;
}
.cards-cont-wide{
	display: grid;
	grid-template-columns: repeat(2, 1fr ); 
	margin-left: 75px;	
	width: 90%;
	grid-auto-rows: 1fr;
	grid-row-gap: 2.5em;
}
.card{
display: block;
width: 100%;
padding-bottom: 0px;
text-align: left;
position: relative;


}



.card>img{
	width: 100%;
	display: inline-block;
}
.cards-cont-wide> .container{
	background-color: #fff;
	width: 50%;
	height: 99.1%;
	position: relative;
	padding: 0px 20px 0px 20px;

}

.container>h4{
	font-size: 140%;
	font-family: Helvetica-UL;
	color: #000;
	letter-spacing: 3px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 38px;

}
.container>p{
	display: block;
	margin-top:-2px;
	margin-bottom: 10px;
	line-height: 1.4em;
	color: #212121;
	font-size: 110%;
	width: 90%;
	text-align: left;
	overflow: hidden;
	position: absolute;
	background: -webkit-linear-gradient(#fff, #fff);

}
.tour-p:before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent, white 100px);
}
.details-a{

background-color: rgb(108 193 13);
color:#Fff;
padding: 7px 10px 7px 10px;
font-family: poppins-M;
text-transform: uppercase;
text-decoration: none;
font-size: 80%;
font-weight: 700;
letter-spacing: 1px;
transition: all 0.1s;
position: absolute;
left: 5%;
bottom: 10%;

}
.book-a{
background-color: #fff;
color:#fb5b21;
padding: 7px 10px 7px 10px;
font-family: poppins-M; 
text-transform: uppercase;
text-decoration: none;
position: absolute;
font-size: 80%;
font-weight: 700;
letter-spacing: 1px;
transition: all 0.1s;
border:1px solid #fb5b21;
right: 5%;
bottom: 10%;
}
.book-a:hover{
background-color: #fb5b21;
color:#Fff;
}
.details-a:hover {
background-color: #fff;
color:rgb(108 193 13);
border:1px solid rgb(108 193 13);
}


.divider {
	display: block;
	position: relative;
	top: 72px;
	margin: 0px auto;
	height: 1px;
	width: 100%;
	background:red;
	background: linear-gradient(90deg, #ededed,#222222, #ededed);
}
/* second section ends*/

/*third sectin stars*/
.third-sec{
	background-color: #fff;
	display: block;
	padding:20px;
	padding: 0px 40px 0px 75px;
	text-align: left;
	padding-bottom: 40px;
}
.third-sec>h3{
 text-align: center;
}
.icon-cards{
	display: block;
	text-align: center;
}
.first-cards-set{
	display: block;
}
.icn-card{
	display: inline-block;
	width: 400px;
	text-align: center;
	margin: 0px auto;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 50px;
	position: relative;
	 border-radius: 0px 0px 10px 10px;
	 max-height: 250px;
	 box-sizing: border-box;
	 height: 400px;
	 margin: 45px;


}
#icn-div1{
	margin-top: 30px;

}

.icn-card>i{
	color:#B51642;
	width: 90%;
	margin-bottom: 20px;

}
.icn-card>a{
text-decoration: none;
color: #212121;
font-family: poppins-M; 
font-size: 150%;

}
.icn-card>a>h4{
margin:5px;
}
.icn-card>p{
	width: 80%;
	display: block;
	margin:0px auto;
	margin-top: 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icn-card::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 2px;
    width: 0%;
    opacity: 0;
    transition: all 0.3s ease 0s;
    z-index: 5;
    background-color: #050F36;
}
.icn-card:hover{
 box-shadow: 0 0 13px 0 rgb(0 0 0 / 50%);
 border-radius: 0px 0px 10px 10px;
}
.icn-card:hover::before{
	width: 100%;
    opacity: 1;
}

#divider2{
display: block;
position: relative;
top: 30px;
width: 100%;
}
#divider3{
	top: 40px;
}
/*third section ends*/



/*fourth section starts*/
#fourth-sec{
	background-color: #ececec;
	padding-top: 20px;
	padding-bottom: 30px;
}
sep-line{
	display: inline;
	border-top:1px solid red;
	width: 100px;
	height: 2px;
}
.sep-div{
display: block;
text-align: center;
}
.sep-div>h4{
	font-family: poppins-M;
	font-size: 160%;
}

.fa-quote-right{
	display: block;
	margin: 0px auto;
	color: #B51642;
	margin-top: 10px;

}
.cmnt-class{
	display: block;
	padding: 20px 0px 20px 0px;
	text-align: center;
}
.cmnt-div{
	text-align: center;
}
.cmnt-p{
	font-style: italic;
	width: 35%;
	margin: 0px auto;
	line-height: 40px;
	color: #505050;
	font-size: 115%;

}
.cmnt-s1 , .cmnt-s2{
	display: block;
	width:50%;
	margin: 5px auto;
}
.cmnt-s1{
	margin-top: 20px;
	font-size: 80%;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	color: #050F36;
	font-family: poppins-M;
}
.cmnt-s2{
	font-size: 75%;
	font-weight: bolder;
	font-family: poppins-M;
}



/*fourth section ends*/



footer{
    text-align:center;
    margin-top:0px;
padding-bottom: 20px;
padding-top: 20px;
background-color: #191919;

}

.foota{
	font-weight:bold;
	padding-left: 15px;
	text-decoration: none;
	font-size: 80%;
	color: #fff;
	margin-left: 13px;
	letter-spacing: 1.5px;
	transition: all 0.2s;
	text-transform: uppercase;
}
.foota:hover{
	position: relative;
	
    border-style: solid;
    border-width: 0px 0px 2px 0px;
   	padding-bottom: 1px;
   	border-color: #fff;
}
#a3{
	margin-right:20px;
	padding-left: 0px;
}
#a4{
	margin-left:20px;
	padding-left: 0px;
}

}

