/*mobile view*/
@media only screen and (max-width: 899px)
{
html { 
  background: url(../images/field.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
h1{ 
	padding-bottom: 8px;
	padding-left: 0em;
	margin:0em;
	margin-left: 0em;
	display: inline-block;
    color: #2d2c2c;
    font-weight: 100;
    font-size: 195%;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.5px;
    border-radius: 6px;
    text-align: center;
    }
 h1>a{
  	text-decoration: none;
  	color: #2d2c2c;
  }

#icon1{
	margin-top: 0.5em;
	margin-left: 15px;
	display: inline-block;
	width: 30px;
	position: relative;
	top:0.55em;
	
}
#icon-h1{
	margin: auto;
	float:left;
	width:350px;
	padding-bottom: 15px;
}

/* HAM ICON STARTS */
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 0px 0px;
  margin-right: 15px;
  float: right;
  clear:both;
  position: relative;
  bottom: 40px;
  user-select: none;

}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ #head-nav{
  display: block
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* HAM ICON END */




/* DROPDOWN MENU STARTS*/
#head-nav{
	margin-right: 15px;
	display: none;
	margin-top: 0px;
	clear:both;
	float:right;
	height: 100px;
	width:  100%;
	position: relative;
	bottom:25px;

}


.heada{
	margin-top: 0px;
	color: rgba(45, 44, 44,0.85);
	font-weight: bold;
	letter-spacing: 0.5px;
	text-decoration: none;
	font-size: 90%;
}
.main-ul{
	clear:both;
	list-style-type: none;
	float: right;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(45, 44, 44,0.5);
	border-radius: 8px;
	width: 115px;
	list-style: none;
    padding-left: 0px;
    padding: 10px;
    margin-top:0px;
    
}
.main-ul>li {

}
.main-ul>li:last-child{
	padding-top: 5px;
	margin-top: 5px;
}

#fa-l1, #fa-l2{
color: #333;
font-size:16px;
}

#fa-d1, #fa-d2{
display: none;
}

#a1:hover , #a2:hover {
	color: rgba(45, 44, 44,1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
   	padding-bottom: 1px;
   	border-color: rgba(45, 44, 44,0.4);

}


.destinations-ul{
	list-style-type: none;
	list-style: none;
    padding-left: 0px;
	position: absolute;
	right: 130px;
	display: none;
	background-color:  transparent;
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	width: 100px;
	margin-top: 0px;
	text-align: center;
	border-radius: 10px;
	

}
.destinations-ul li{
	width:100%
}
.destinations-ul li a{
	line-height: 25px;
	position: relative;
	text-align: center;
	display: inline-block;
	width:100%;
	color: rgba(45, 44, 44,0.7);
	text-decoration: none;	
}

.main-ul> .dest-container>.destinations-ul>li>a:hover , .main-ul> .exp-container>.experiences-ul>li>a:hover
{
    border-style: solid;
    background-color: rgba(45, 44, 44,0.85);
    border-width: 0px 0px 0px 0px;
	border-color: rgba(0,0,0,0.8);
	color: #ffffff;
}
.main-ul> .dest-container>.destinations-ul>li:first-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:first-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 10px 10px 0px 0px;
}

.main-ul> .dest-container>.destinations-ul>li:last-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:last-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 0px 0px 10px 10px;
}
.experiences-ul{
	position: absolute;
	display: none;
	background-color:  transparent;
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	right: 4px;
	top: 25px;
	width: 75%;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding-bottom: 0px;
	padding-left: 30px;
}
.experiences-ul li a {
	position: relative;
	width:143px;
	right: 30px;
	display: inline-block;
	color: rgba(45, 44, 44,0.7);
	text-decoration: none;

}
.dest-container:hover ul, .exp-container:hover ul{
    display: inline-block;
}
/* DROPDOWN MENU ENDS*/
section{
display: block;
clear:both;
width: 50%;
margin:auto;
text-align: center;
margin-top:130px;
}
#img{
	clear:both;
	padding-bottom: 0px;
	margin-top: 15px;
}
#begins{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 40%;
}
.btn{
	font-size: 100%;
	font-family: 
	color: #2d2c2c;
	padding: 10px 15px 10px 15px;
	background:transparent;
	border-color: rgba(45, 44, 44,0.8);
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	opacity: 0.9;
    transition: 0.5s;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}
.btn:hover{
	opacity: 1;
	background: rgba(45, 44, 44,0.85);
	color: #ffffff;
}
footer{
    text-align:center;
    margin-top:120px;}

.foota{
	color: #ffffff;
	font-weight:bold;
	padding-left: 15px;
	text-decoration: none;
	font-size: 110%;
	color: #2d2c2c;
	margin-left: 13px;
}
.foota:hover{
	position: relative;
	
    border-style: solid;
    border-width: 0px 0px 2px 0px;
   	padding-bottom: 1px;
   	border-color: rgba(45, 44, 44,0.7);
}
#a3{
	margin-right:20px;
	padding-left: 0px;
}
#a4{
	margin-left:20px;
	padding-left: 0px;
}
}






















/*large screen view */
@media only screen and (min-width: 900px)
{

html { 
  background: url(../images/field.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
body{
  margin:0px 42px 0px 60px;
  /*background-image: url('../images/field.jpg');
  background-size: 1980px 1080px;
  transition: background 4s;*/
}
#icon-h1{
	float: left;
	width:52%;
}
h1{ 
	padding-bottom: 8px;
	padding-left: 5px;
	margin:0px;
	margin-left: 5px;
	display: inline-block;
    color: #2d2c2c;
    font-weight: 100;
    font-size: 250%;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.5px;
    border-radius: 6px;
    }
 h1>a{
  	text-decoration: none;
  	color: #2d2c2c;
  }
#icon1{
	margin-top: 10px;
	display: inline-block;
	clear: left;
	width: 50px;
	position: relative;
	top:19px;
}
  .header .menu-icon, .header .menu-btn  {
    display: none;
  }
#head-nav{
	padding-top: 0px;
	line-height: 2em;
	text-align: right;
	width: 43%;
	float: right;
	margin: 0px;
	margin-top: 23px;
	margin-left: 18px;

}
#fa-d1, #fa-d2, #fa-l1, #fa-l2{
display: none;
}
.main-ul li{
	position: relative;
	display: inline;
}
.dest-container{
	position: relative;
	margin-right: 10px;
	padding: 0px 0px 8px 0px; 
}
.exp-container{
	position: relative;
	padding: 0px 0px 8px 0px;
	margin-left: 18px;
}
.exp-container a{
	position: relative;
	right:18px;
}
.destinations-ul{
	position: absolute;
	display: none;
	background-color:  transparent;
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	right: 3px;
	top: 25px;
	width: 75%;
	text-align: center;
	border-radius: 10px;
	padding-bottom: 0px;
	padding-left: 30px;

}
.experiences-ul{
	position: absolute;
	display: none;
	background-color:  transparent;
	border-width: 1px;
	box-shadow: 0px 10px 15px #0a1516c9;
	right: 4px;
	top: 25px;
	width: 75%;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding-bottom: 0px;
	padding-left: 30px;
}
.experiences-ul li a {
	position: relative;
	width:143px;
	right: 30px;
	display: inline-block;
	color: rgba(45, 44, 44,0.7);
	text-decoration: none;

}
.destinations-ul li a{
	position: relative;
	width:118px;
	right: 30px;
	display: inline-block;
	color: rgba(45, 44, 44,0.7);
	text-decoration: none;	
}
.dest-container:hover ul, .exp-container:hover ul{
    display: block;
}
.dest-container:hover #a1, .exp-container:hover #a2{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
   	padding-bottom: 1px;
   	border-color: rgba(45, 44, 44,0.4);
}
.main-ul> .dest-container>.destinations-ul>li>a:hover , .main-ul> .exp-container>.experiences-ul>li>a:hover
{
    border-style: solid;
    background-color: rgba(45, 44, 44,0.85);
    border-width: 0px 0px 0px 0px;
	border-color: rgba(0,0,0,0.8);
	color: #ffffff;
}

.main-ul> .dest-container>.destinations-ul>li:first-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:first-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 10px 10px 0px 0px;
}

.main-ul> .dest-container>.destinations-ul>li:last-child >a:hover , .main-ul> .exp-container>.experiences-ul>li:last-child>a:hover{
	background-color: rgba(45, 44, 44,0.85);
	color: #ffffff;
	border-style: solid;
	border-radius: 0px 0px 10px 10px;
}
.heada{
	margin-top: 10px;
	color: #2d2c2c;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 120%;
}
#a2{
	margin-left:40px;
}

section{
display: block;
clear:both;
width: 50%;
margin:auto;
text-align: center;
margin-top:220px;
}
#begins{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  width: 380px;
}
.btn{
	font-size: 100%;
	font-family: 
	color: #2d2c2c;
	padding: 10px 15px 10px 15px;
	background:transparent;
	border-color: rgba(45, 44, 44,0.8);
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	opacity: 0.9;
    transition: 0.5s;
}
.btn:hover{
	opacity: 1;
	background: rgba(45, 44, 44,0.85);
	color: #ffffff;
}
footer{
    text-align:center;
    margin-top:250px;}

.foota{
	color: #ffffff;
	font-weight:bold;
	padding-left: 15px;
	text-decoration: none;
	font-size: 110%;
	color: #2d2c2c;
	margin-left: 25px;
}
.foota:hover{
	position: relative;
	
    border-style: solid;
    border-width: 0px 0px 2px 0px;
   	padding-bottom: 1px;
   	border-color: rgba(45, 44, 44,0.7);
}
#a3{
	margin-right:20px;
	padding-left: 0px;
}
#a4{
	margin-left:20px;
	padding-left: 0px;
}
}
